<div class="media border mx-0 my-1 py-2">
  <img src="{{programme.iconUrl}}" width="100px" class="align-self-start m-1 mr-3">
  <div class="media-body">
    <h5><a href="/Programme/{{programme.id}}">{{programme.title}}</a></h5>
      <div *ngFor="let e of programme.emissions">
          <a href="/Channel/{{e.channel.id}}">{{e.channel.name}}</a>: {{this.translateDate(e.start | date:'EE, d MMM, H:mm')}} - {{this.translateDate(e.stop | date:'EE, d MMM, H:mm')}}
      </div>
      <div *ngFor="let ft of feat_types()">{{ft}}: 
        <span *ngFor="let f of feat_array(ft)"><a href="/Feature/{{f.id}}">{{f.name}}</a>, </span> 
      </div>
      <div class="btn-group mt-3" role="group" aria-label="Rating buttons" *ngIf="!this.user.isAnonymous() && !this.ratingAvailable()">
        <button type="button" class="btn btn-secondary" (click)=this.rateButton(1)>Podobał mi się</button>
        <button type="button" class="btn btn-secondary" (click)=this.rateButton(0)>Nie podobał mi się</button>
        <button type="button" class="btn btn-secondary" (click)=this.rateButton(2)>Chcę obejrzeć</button>
      </div>
      <div class="badge badge-secondary my-1" *ngIf="!this.user.isAnonymous() && this.ratingAvailable()">
        {{ratingText(this.programme.rating)}}
      </div>
  </div>
</div>
