<div class="media border rounded mx-0 my-1 py-2">
  <img src="{{programme.iconUrl}}" width="100px" class="align-self-start m-1 mr-3">
  <div class="media-body">
    <h5>
      <a routerLink="/Programme/{{programme.id}}">{{programme.title}}</a>
      <div class="badge badge-secondary mx-1" *ngIf="!this.user.isAnonymous() && displayRatingText" style="float: right;">
        {{displayRatingText}}
      </div>
    </h5>
      <div *ngIf="programme.emissions">
        <div *ngFor="let e of programme.emissions">
            <a routerLink="/Channel/{{e.channel.id}}">{{e.channel.name}}</a>: {{e.start | date:'EEE d MMM, H:mm'}} - {{e.stop | date:'EEE d MMM, H:mm'}}
        </div>
      </div>
      <div *ngFor="let ft of feat_types()">{{ft}}: 
        <span *ngFor="let f of feat_array(ft)"><a routerLink="/Feature/{{f.id}}">{{f.name}}</a>, </span> 
      </div>
      <button *ngIf="!this.user.isAnonymous() && this.programme.emissions.length > 0" type="button" class="btn btn-secondary mt-3 mr-2" (click)="this.remindme()">Przypomnij mi</button>
      <div class="btn-group mt-3" role="group" aria-label="Rating buttons" *ngIf="!this.user.isAnonymous() && !this.ratingAvailable() && !this.requestPending">
        <button type="button" class="btn btn-secondary" (click)="this.rateButton(1)">{{ratingText(1)}}</button>
        <button type="button" class="btn btn-secondary" (click)="this.rateButton(0)">{{ratingText(0)}}</button>
        <button type="button" class="btn btn-secondary" (click)="this.rateButton(-1)">{{ratingText(-1)}}</button>
      </div>
      <div class="btn-group mt-3" role="group" aria-label="Rating buttons" *ngIf="!this.user.isAnonymous() && !this.ratingAvailable() && this.requestPending">
        zapisujemy...
      </div>
  </div>
</div>
