<form (submit)="search()">
  <div class="form-group">
    <h5>Szukasz czegoś konkrentego?  </h5>
    <input 
      class="form-control" 
      type="text" 
      name="search" 
      id="field_search" 
      placeholder="szukaj"
      [(ngModel)]="searchterm"
    >
    <button class="btn btn-secondary btn-block" type="submit">szukaj</button>
  </div>
</form>
<form>
  <div class="form-group" *ngIf="this.showTime">
    <h5>Kiedy?</h5>
    <label for="day">Data:  </label>
    <div id="day" class="p-1 border rounded w-100 d-flex justify-content-between">
      <a (click)="moveDay(-1)" class="btn btn-sm btn-dark">&lt;</a> 
      <span class="mx-2 w-75">{{currentDate | date:'EE d MMM'}}</span>
      <a (click)="moveDay(1)" class="btn btn-sm btn-dark">&gt;</a></div>
    <label for="time_from">Od godziny: </label>
    <input type="time" id="time_from" class="form-control" [value]="timeFrom" (change)="onFromInput($event)" >
    <label for="time_from">Do godziny: </label>
    <input type="time" id="time_to" class="form-control" [value] = "timeTo" (change)="onToInput($event)" >
  </div>
  <div class="form-group" *ngIf="this.showOffer">
    <h5>Gdzie?</h5>
    <app-offer-picker (offerPicked)="offerPicked($event)" [endpoint]="'Channels/Offers'" [title]="'Kanały z oferty'"></app-offer-picker>
    <h5>Co?</h5>
    <app-offer-picker (offerPicked)="themePicked($event)" [endpoint]="'Channels/Themes'" [title]="'Kanały o tematyce'"></app-offer-picker>
  </div>
</form>