<div class>
  <h5>Kiedy?</h5>
  Od godziny: <input type="time">
  Do godziny: <input type="time">
</div>
<hr>
<div>
  <h5>Gdzie?</h5>
    <input type="radio" name="channel_offer" value="tracked_only"> Tylko obserwowane kanały <br />
    <input type="radio" name="channel_offer" value="my_provider"> Kanały mojego dostawcy <br />
    <input type="radio" name="channel_offer" value="all_channels"> Wszystkie kanały <br />
</div>
<hr>
<div>
    <h5>Co?</h5>
    <input type="checkbox" name="programme_types" value="movies"> Filmy <br />
    <input type="checkbox" name="programme_types" value="series"> Seriale <br />
    <input type="checkbox" name="programme_types" value="sport"> Sport <br />
    <input type="checkbox" name="programme_types" value="documentaries"> Dokumentalne <br />
    <input type="checkbox" name="programme_types" value="cartoons"> Animowane <br />
</div>