<div class="row">
  <div class="col-12 col-md-4 col-lg-2 bg-dark py-3">
    <app-filter-sidebar #sidebar></app-filter-sidebar>
  </div>
  <div class="col-12 col-md-8 col-lg-10">
    <h1>{{title}}</h1>
    <app-listing *ngIf="this.requestStatus === 'success'; else messageSpot"
      [listing]="listing"
    ></app-listing>
  </div>
</div>

<ng-template #messageSpot>
  <div [ngSwitch]="this.requestStatus">
    <div *ngSwitchCase="'waiting'" class="alert alert-info">Szukamy ┬─┬ノ( º _ ºノ)</div>
    <div *ngSwitchCase="'failure'" class="alert alert-danger">Coś nie poszło (ノಠ益ಠ)ノ彡┻━┻</div>
    <div *ngSwitchCase="'empty'" class="alert alert-info">Nic tu nie ma ¯\_(ツ)_/¯</div>
    <div *ngSwitchDefault class="alert alert-danger">┬┴┬┴┤(･_├┬┴┬┴</div>
  </div>
</ng-template>
