<span *ngIf="!isLoggedIn()">
  <button type="button" class="btn btn-secondary" (click)="toggleLogin()">
    Zaloguj
  </button>
</span>
<span *ngIf="isLoggedIn()">
  Witaj, {{getUsername()}}!
  <button type="button" class="btn btn-secondary" (click)="logout()">
    Wyloguj
  </button>
</span>

<div *ngIf="showLogin"
    class="border rounded border-dark p-3 mt-2 bg-secondary position-fixed w-25" 
    style="right: 0;">
  <div class="form-group mb-2">
    <label for="usernameField">Nazwa użytkownika: </label>
    <input type="text" class="form-control" id="usernameField" #name>
  </div>
  <div class="btn-group w-100">
    <button class="btn btn-primary" (click)="this.login(name.value)">Zaloguj</button>
    <button class="btn btn-primary" (click)="this.create(name.value)">Utwórz konto</button>
  </div>
</div>

<div class="alert alert-dismissible fade show fixed-top m-5" *ngIf="actionResult" 
[ngClass]="{'alert-danger': !this.actionResult['success'], 'alert-success': this.actionResult['success']}">
  {{actionResult.message}}
  <button type="button" class="close" (click)="closeWarning()">
    &times;
  </button>
</div>